<div data-brk-container="edit">
    {{#compare route.name "editor"}}
        {{> components/editor/index}}
    {{/compare}}

    {{#compare route.name "commits"}}
        <div data-brk-container="commits"
             data-brk-blackbox="commits">
        </div>
    {{/compare}}
</div>
