<div data-brk-container="edit">
    {{#compare route.name "editor"}}
        {{> components/editor/index}}
    {{/compare}}

    {{#compare route.name "commits"}}
        {{> components/commits/index}}
    {{/compare}}
</div>
