<div class="wpgp-settings">
    <label id="ace-theme-label" for="ace-theme-select">Ace Editor Theme</label>
    <select name="ace-theme-select" data-wpgp-theme>
        {{#each ace_themes}}
            <option value="{{@key}}">{{this}}</option>{{!@todo change labels; select theme}}
        {{/each}}
    </select>
    <button name="wpgp-update" id="wpgp-update" class="button button-primary" data-wpgp-update>Update Gistpen</button>
    <button data-wpgp-add-file class="button button-primary" data-wpgp-add>Add File</button>
    <span class="spinner" data-wpgp-spinner></span>
</div>
