<div data-brk-container="settingsHeader">
    <h1>Gistpen Settings</h1>
    <h2 class="nav-tab-wrapper">
        <a href="{{link "wpgp_route" "highlighting"}}" class="nav-tab{{#compare route.name "highlighting"}} nav-tab-active{{/compare}}">Highlighting</a>
        <a href="{{link "wpgp_route" "accounts"}}" class="nav-tab{{#compare route.name "accounts"}} nav-tab-active{{/compare}}">Accounts</a>
        <a href="{{link "wpgp_route" "jobs"}}" class="nav-tab{{#compare route.name "jobs"}} nav-tab-active{{/compare}}">Jobs</a>
    </h2>
</div>
