<div class="wpgp-header clearfix">
    <div id="titlediv">
        <div id="titlewrap">
            <label id="title-prompt-text" for="title" data-wpgp-description-label>Gistpen description...</label>
            <input type="text" name="description" size="30" value="{{description}}" id="title" spellcheck="true"
                   autocomplete="off" data-wpgp-description-input />
        </div>
    </div>
    <div class="wpgp-header-row clearfix" data-wpgp-row></div>
</div>
