{
  "plugins": [
    ["tcomb", {
      "globals": [
        {
          "Disposer": true
        },
        {
          "ActionObservable": true
        },
        {
          "ProxyEvent": true
        }
      ]
    }],
    "ramda",
    "transform-object-rest-spread",
    "syntax-flow",
    "transform-flow-strip-types"
  ],
  "presets": [
    ["es2015", { "loose": false, "modules": false }]
  ]
}
