{
  "plugins": [
    "ramda",
    "transform-array-from",
    "transform-object-assign",
    "syntax-flow",
    "tcomb",
    "transform-flow-strip-types"
  ],
  "presets": [
    ["es2015", { "loose": false, "modules": false }]
  ]
}
