language: php
sudo: false
dist: trusty

php:
    - 5.4
    - 5.6
    - 7.1
    - hhvm
    - nightly

matrix:
    allow_failures:
        - php: nightly

branches:
    only:
        - master
        - develop
        - /^greenkeeper/.*$/

env:
    - WP_VERSION=latest WP_MULTISITE=0
    - WP_VERSION=latest WP_MULTISITE=1
    - WP_VERSION=4.6 WP_MULTISITE=0
    - WP_VERSION=4.6 WP_MULTISITE=1

before_script:
    - if [[ $TRAVIS_PHP_VERSION != 'hhvm' && $TRAVIS_PHP_VERSION != '5.4' && $TRAVIS_PHP_VERSION != 'nightly' ]]; then phpenv config-rm xdebug.ini; fi
    - travis_retry composer self-update
    - travis_retry composer install
    - travis_retry nvm install v6.9.2
    - travis_retry yarn
    - travis_retry yarn global add gulp
    - travis_retry yarn global add greenkeeper-lockfile@1
    - greenkeeper-lockfile-update
    - travis_retry bash bin/install-wp-tests.sh wordpress_test root '' localhost $WP_VERSION

script:
    - composer test
    - gulp test
    - npx dredd

after_script:
    - if [[ $TRAVIS_PHP_VERSION == '5.4' ]]; then composer upload; fi
    - greenkeeper-lockfile-upload

before_deploy:
    - gulp build:zip

deploy:
    - provider: releases
      skip_cleanup: true
      api_key:
          secure: gAUbtuJKtw/mcBiZ1sAa6sCcCvfOThyc80bNRVf59gdUnV+8A+gwb6c0KV0tntcX/eJ6VmJHFtJGz18jGhMC6xklqkXxZB1xnyR4TpUgOMh6ZB30v/HH+rFj4rWxuXXejrQ5vqfM7jD1ZHOGqZYgGEX7f4LnlLMv9pCPmJBz4b4=
      file: wp-gistpen.zip
      on:
          repo: mAAdhaTTah/wp-gistpen
          tags: true
          php: 5.4
          all_branches: true
          condition: "$WP_MULTISITE == 0 && WP_VERSION == 'latest'"
