<phpunit
	bootstrap="test/includes/bootstrap.php"
	backupGlobals="false"
	colors="true"
	convertErrorsToExceptions="true"
	convertNoticesToExceptions="true"
	convertWarningsToExceptions="true"
	stopOnFailure="false"
	syntaxCheck="false"
	>
	<testsuites>
		<testsuite name="WP-Gistpen Test Suite">
			<directory prefix="test-" suffix=".php">./test/</directory>
		</testsuite>
	</testsuites>
</phpunit>
