<div data-brk-container="settingsHeader">
    <h1>Gistpen Settings</h1>
    <h2 class="nav-tab-wrapper">
        <a href="{{link "wpgp_route" "highlighting"}}" class="nav-tab{{#compare route "highlighting"}} nav-tab-active{{/compare}}">Highlighting</a>
        <a href="{{link "wpgp_route" "accounts"}}" class="nav-tab{{#compare route "accounts"}} nav-tab-active{{/compare}}">Accounts</a>
        <a href="{{link "wpgp_route" "import"}}" class="nav-tab{{#compare route "import"}} nav-tab-active{{/compare}}">Import</a>
        <a href="{{link "wpgp_route" "export"}}" class="nav-tab{{#compare route "export"}} nav-tab-active{{/compare}}">Export</a>
    </h2>
</div>
