<div class="wrap" data-brk-container="settings">
    {{> page/settings/header}}

    {{#compare route.name "highlighting"}}
        {{> page/settings/highlighting}}
    {{/compare}}

    {{#compare route.name "accounts"}}
        {{> page/settings/accounts}}
    {{/compare}}
</div>
