<div class="wrap" data-brk-container="settings">
    {{> page/settings/header}}

    {{#compare route.name "highlighting"}}
        {{> page/settings/highlighting}}
    {{/compare}}

    {{#compare route.name "accounts"}}
        {{> page/settings/accounts}}
    {{/compare}}

    {{#compare route.name "jobs"}}
        {{#if route.parts.run}}
            {{> page/settings/messages}}
        {{else if route.parts.job}}
            {{> page/settings/runs}}
        {{else}}
            {{> component/jobs/index}}
        {{/if}}
    {{/compare}}
</div>
