// Some styles for the Ace editor
.ace-editor {
	min-height: 360px;
	width: 100%;
}
.ace-active .switch-ace {
	background: #f5f5f5;
	color: #555;
	height: 20px;
	border-bottom: none;
}

.wp-gistfile-content-wrap {
	margin-bottom: 15px;
}

._wpgp_ace_theme-wrap {
	margin: 10px;

	label {
		font-weight: bold;
	}
}

.gistfile-language, .gistfile-name {
	float: left;
}

#normal-sortables .postbox {
	float: left;
	margin: 0 10px 20px;

	&:first-child {
		margin: 0 10px 20px 0;
	}
}
