// Variables
$monospace-font: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;

// Colors
$dark-blue: #1E8CBE;
$light-blue: #5B9DD9;

// Mixins

@mixin focus-border {
    box-shadow: 0 0 2px $dark-blue;
}

@mixin editor-controls-theme(
    $theme,
    $controls-background,
    $controls-text,
    $control-background,
    $button-text,
    $button-background,
    $select-text,
    $select-background,
    $checkbox-border,
    $checked-color,
    $controls-border: false,
    $controls-radius: true
) {
    &.wpgp-editor-controls-#{$theme} {
        background-color: $controls-background;
        color: $controls-text;

        @if $controls-border {
            border: 0.3em solid $controls-border;

            @if $controls-radius {
                border-radius: 0.5em;
            }
        }

        .wpgp-editor-control {
            background-color: $control-background;
        }

        .wpgp-button {
            background-color: $button-background;
            color: $button-text;
        }

        select {
            color: $select-text;
            background: $select-background;
        }

        input[type="checkbox"] {
            border-color: $checkbox-border;

            &:checked {
                background-color: $checked-color;
            }
        }

        @content;
    }
}
