// Variables
$monospace-font: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;

// Colors
$dark-blue: #1E8CBE;
$light-blue: #5B9DD9;

$themes: (
    default: (
        controls-background: #F5F2F0,
        controls-text: #545454,
        control-background: darken(#F5F2F0, 5%),
        button-text: darken(#F5F2F0, 5%),
        button-background: #07A,
        select-text: darken(#F5F2F0, 5%),
        select-background: #690,
        checkbox-border: #BBB,
        checked-color: #DD4A68,
        controls-radius: false
    ),
    dark: (
        controls-background: #4D4033,
        controls-text: #FFF,
        control-background: lighten(#4D4033, 15%),
        button-text: #4D4033,
        button-background: #F5B83D,
        select-text: #4D4033,
        select-background: #BDE052,
        checkbox-border: #BBB,
        checked-color: #D1949E,
        controls-border: #7A6652,
        controls-radius: true
    ),
    funky: (
        controls-background: #FDFDFD,
        controls-text: #FFF,
        control-background: black,
        button-text: black,
        button-background: yellow,
        select-text: black,
        select-background: yellowgreen,
        checkbox-border: #FFF,
        checked-color: deeppink,
        controls-radius: false
    ),
    okaidia: (
        controls-background: #272822,
        controls-text: #FFF,
        control-background: rgba(224, 224, 224, 0.2),
        button-text: #4D4033,
        button-background: #66D9EF,
        select-text: #4D4033,
        select-background: #A6E22E,
        checkbox-border: #BBB,
        checked-color: #F92672,
        controls-border: #272822,
        controls-radius: true
    ),
    tomorrow: (
        controls-background: #2D2D2D,
        controls-text: #FFF,
        control-background: #4D4033,
        button-text: #4D4033,
        button-background: #F08D49,
        select-text: #4D4033,
        select-background: #7EC699,
        checkbox-border: #BBB,
        checked-color: #E2777A,
        controls-border: #7A6652,
        controls-radius: false
    ),
    twilight: (
        controls-background: #141414,
        controls-text: #BBB,
        control-background: rgba(224, 224, 224, 0.2),
        button-text: #141414,
        button-background: #F9EE9A,
        select-text: #141414,
        select-background: #919E6B,
        checkbox-border: #BBB,
        checked-color: #000,
        controls-border: #545454,
        controls-radius: true
    ),
    coy: (
        controls-background: #FDFDFD,
        controls-text: #000,
        control-background: rgba(69, 142, 209, 0.04),
        button-text: #4D4033,
        button-background: #FFD893,
        select-text: #FDFDFD,
        select-background: #2F9C0A,
        checkbox-border: #BBB,
        checked-color: #C92C2C
    ),
    cb: (
        controls-background: #222,
        controls-text: #FFF,
        control-background: lighten(#222, 10%),
        button-text: #4D4033,
        button-background: #1990B8,
        select-text: #4D4033,
        select-background: #B0C975,
        checkbox-border: #BBB,
        checked-color: #C27628,
        controls-border: #222,
        controls-radius: true
    ),
    ghcolors: (
        controls-background: white,
        controls-text: #000,
        control-background: darken(white, 5%),
        button-text: #EEE,
        button-background: #9A050F,
        select-text: #FFF,
        select-background: #00A4DB,
        checkbox-border: #FFF,
        checked-color: #E3116C,
        controls-border: #DDD,
        controls-border-width: 1px,
        controls-radius: false
    ),
    pojoaque: (
        controls-background: #181914,
        controls-text: #FFF,
        control-background: rgba(224, 224, 224, 0.2),
        button-text: #181914,
        button-background: #FFB03B,
        select-text: #181914,
        select-background: #468966,
        checkbox-border: #FFF,
        checked-color: #CB4B16,
        controls-border: #DDD,
        controls-border-width: 1px,
        controls-radius: true
    ),
    xonokai: (
        controls-background: #2A2A2A,
        controls-text: #BBB,
        control-background: lighten(#2A2A2A, 5%),
        button-text: #181914,
        button-background: #E6D06C,
        select-text: #181914,
        select-background: #76D9E6,
        checkbox-border: #FFF,
        checked-color: #EF3B7D,
        controls-border: #E1E1E8,
        controls-border-width: 1px,
        controls-radius: true
    ),
    base16-ateliersulphurpool-light: (
        controls-background: #F5F7FF,
        controls-text: #5E6687,
        control-background: darken(#F5F7FF, 5%),
        button-text: #F5F7FF,
        button-background: #AC9739,
        select-text: #F5F7FF,
        select-background: #22A2C9,
        checkbox-border: #000,
        checked-color: #C76B29
    ),
    hopscotch: (
        controls-background: #322931,
        controls-text: #B9B5B8,
        control-background: rgba(224, 224, 224, 0.2),
        button-text: #181914,
        button-background: #149B93,
        select-text: #181914,
        select-background: #8FC13E,
        checkbox-border: #FFF,
        checked-color: #FD8B19
    ),
    atom-dark: (
        controls-background: #1D1F21,
        controls-text: #C5C8C6,
        control-background: lighten(#1D1F21, 15%),
        button-text: #1D1F21,
        button-background: #96CBFE,
        select-text: #1D1F21,
        select-background: #A8FF60,
        checkbox-border: #FFF,
        checked-color: #DAD085,
        controls-radius: true
    ),
    duotone-dark: (
        controls-background: #2A2734,
        controls-text: #2A2734,
        control-background: #EBF,
        button-text: #EBF,
        button-background: #6A51E6,
        select-text: #2A2734,
        select-background: #E09142,
        checkbox-border: #C4B9FE,
        checked-color: #E09142,
        controls-border: #2C2937,
        controls-radius: false
    ),
    duotone-sea: (
        controls-background: #1D262F,
        controls-text: #47EBB4,
        control-background: #57718E,
        button-text: #2C3847,
        button-background: #47EBB4,
        select-text: #EBF4FF,
        select-background: #0AA370,
        checkbox-border: #57718E,
        checked-color: #47EBB4,
        controls-border: #1F2932,
        controls-radius: false
    ),
    duotone-space: (
        controls-background: #24242E,
        controls-text: #FE8C52,
        control-background: #5151E6,
        button-text: #EBEBFF,
        button-background: #DD672C,
        select-text: #FE8C52,
        select-background: #24242E,
        checkbox-border: #262631,
        checked-color: #FE8C52,
        controls-border: #262631,
        controls-border-width: 0.3em,
        controls-radius: false
    ),
    duotone-earth: (
        controls-background: #322D29,
        controls-text: #322D29,
        control-background: #FCC440,
        button-text: #FFF3EB,
        button-background: #35302B,
        select-text: #FFF3EB,
        select-background: #35302B,
        checkbox-border: #46403D,
        checked-color: #BFA05A,
        controls-border: #BFA05A,
        controls-border-width: 0.3em,
        controls-radius: false
    ),
    duotone-forest: (
        controls-background: #2A2D2A,
        controls-text: #2C302C,
        control-background: #A2B34D,
        button-text: #F0FFF0,
        button-background: #435643,
        select-text: #E5FB79,
        select-background: #2C302C,
        checkbox-border: #B3D6B3,
        checked-color: #5C705C,
        controls-border: #2C302C,
        controls-border-width: 0.3em,
        controls-radius: false
    ),
    duotone-light: (
        // #FAF8F5
        // #728FCB
        // #B6AD9A
        // #063289
        // #B29762
        // #2D2006
        // #896724
        // #93ABDC
        // #ECE8DE
        // #CDC4B1
        controls-background: #FAF8F5,
        controls-text: #FAF8F5,
        control-background: #896724,
        button-text: #063289,
        button-background: #CDC4B1,
        select-text: #ECE8DE,
        select-background: #896724,
        checkbox-border: #2D2006,
        checked-color: #93ABDC,
        controls-border: #CDC4B1,
        controls-border-width: 0.3em,
        controls-radius: false
    ),
    vs: (
        // #000
        // #FFF
        // #C1DEF1
        // #DDD
        // #008000
        // #A31515
        // #393A34
        // #36ACAA
        // #00009F
        // #2B91AF
        // #800000
        // #FF0000
        // #A5A5A5
        controls-background: #000,
        controls-text: #DDD,
        control-background: #36ACAA,
        button-text: #36ACAA,
        button-background: #393A34,
        select-text: #00009F,
        select-background: #DDD,
        checkbox-border: #800000,
        checked-color: #F00,
        controls-border: #DDD,
        controls-border-width: 0.3em,
        controls-radius: false
    ),
    darcula: (
        // #000
        // #A9B7C6
        // #214283
        // #2B2B2B
        // #808080
        // #CC7832
        // #A9B7C6
        // #E8BF6A
        // #6897BB
        // #9876AA
        // #6A8759
        // #A5C261
        // #287BDE
        // #FFC66D
        // #364135
        // #294436
        // #484A4A
        controls-background: #000,
        controls-text: #287BDE,
        control-background: #A9B7C6,
        button-text: #A5C261,
        button-background: #364135,
        select-text: #FFC66D,
        select-background: #484A4A,
        checkbox-border: #CC7832,
        checked-color: #FFC66D,
        controls-radius: false
    ),
    a11y-dark: (
        // #F8F8F2
        // #2B2B2B
        // #D4D0AB
        // #FEFEFE
        // #FFA07A
        // #00E0E0
        // #ABE338
        // #FFD700
        controls-background: #2B2B2B,
        controls-text: #2B2B2B,
        control-background: #D4D0AB,
        button-text: #00E0E0,
        button-background: #FEFEFE,
        select-text: #FFA07A,
        select-background: #FEFEFE,
        checkbox-border: #00E0E0,
        checked-color: #ABE338,
        controls-border: #FFD700,
        controls-border-width: 0.3em,
        controls-radius: false
    ),
);

// Mixins
@mixin editor-controls-theme(
    $theme,
    $controls-background,
    $controls-text,
    $control-background,
    $button-text,
    $button-background,
    $select-text,
    $select-background,
    $checkbox-border,
    $checked-color,
    $controls-border,
    $controls-border-width: 0.3em,
    $controls-radius: false
) {
    &.wpgp-editor-controls-#{$theme} {
        background-color: $controls-background;
        color: $controls-text;

        @if $controls-border {
            border: $controls-border-width solid $controls-border;
        }

        @if $controls-radius {
            border-radius: 0.5em;
        }

        .wpgp-editor-control {
            background-color: $control-background;
            border: 2px solid transparent;

            &:focus-within {
                border-color: $controls-text;
            }
        }

        .wpgp-button {
            background-color: $button-background;
            color: $button-text;
        }

        select {
            color: $select-text;
            background: $select-background;
        }

        input[type="checkbox"] {
            border-color: $checkbox-border;

            &:checked {
                background-color: $checked-color;
            }
        }

        @content;
    }
}
