@import "./common";

body.post-type-gistpen {
    background: #FFF;
}

#wpbody .wpgp-editor-controls {
    display: flex;
    flex-wrap: wrap;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    font-family: $monospace-font;

    .wpgp-editor-control {
        display: flex;
        align-items: center;
        padding: 0.5em;
        margin-bottom: 1em;
        margin-right: 4px;
        margin-left: 4px;
        border-radius: 0.5em;
        line-height: 1.5em;

        &:first-child {
            margin-left: 0;
        }

        &:last-child {
            margin-right: 0;
        }

        label {
            margin-right: 4px;
        }
    }

    .wpgp-button {
        display: flex;
        align-items: center;
        height: 2em;
        border: none;
        border-radius: 0.5em;
        vertical-align: bottom;
        text-decoration: none;
        letter-spacing: normal;
        word-spacing: normal;
        text-align: start;
        font-family: inherit;
        font-size: inherit;
        font-weight: inherit;
        margin-left: 4px;
        margin-right: 4px;
        outline: none;
        padding: 0 1em;
        line-height: 2;

        &::before {
            margin-right: 0.5em;
            vertical-align: bottom;
            height: 1em;
            width: 1em;
            font-size: 1.5em;
        }
    }

    .wpgp-button-update {
        &::before {
            line-height: 1.1em;
            content: "\f317";
        }
    }

    .wpgp-button-add {
        &::before {
            line-height: 1.15em;
            content: "\f475";
        }
    }

    input[type="checkbox"] {
        height: 1em;
        width: 1em;
        border-radius: 0.25em;

        &::before {
            content: none;
        }
    }

    select {
        height: initial;
        font-size: 0.8em;
        margin-top: 0;
        padding: 0 0.5em;
        border-radius: 0.25em;
        border: none;
    }

    input[type=checkbox] {
        margin-top: 0;
        border: 1px solid;
    }

    @each $theme, $variables in $themes {
        @include editor-controls-theme(
            $theme: $theme,
            $controls-background: map-get($variables, "controls-background"),
            $controls-text: map-get($variables, "controls-text"),
            $control-background: map-get($variables, "control-background"),
            $button-text: map-get($variables, "button-text"),
            $button-background: map-get($variables, "button-background"),
            $select-text: map-get($variables, "select-text"),
            $select-background: map-get($variables, "select-background"),
            $checkbox-border: map-get($variables, "checkbox-border"),
            $checked-color: map-get($variables, "checked-color"),
            $controls-border: map-get($variables, "controls-border"),
            $controls-border-width: map-get($variables, "controls-border-width"),
            $controls-radius: map-get($variables, "controls-radius")
        ) {
            @if $theme == 'funky' {
                background: url('data:image/svg+xml;charset=utf-8,<svg%20version%3D"1.1"%20xmlns%3D"http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg"%20width%3D"100"%20height%3D"100"%20fill%3D"rgba(0%2C0%2C0%2C.2)">%0D%0A<polygon%20points%3D"0%2C50%2050%2C0%200%2C0"%20%2F>%0D%0A<polygon%20points%3D"0%2C100%2050%2C100%20100%2C50%20100%2C0"%20%2F>%0D%0A<%2Fsvg>');
                background-size: 1em 1em;

                .wpgp-editor-control {
                    border-radius: 0;
                }
            }

            @if $theme == 'coy' {
                background-image: linear-gradient(transparent 50%, rgba(69, 142, 209, 0.04) 50%);
            }

            @if $theme == 'xonokai' {
                font-family: Menlo, Monaco, "Courier New", monospace;
            }
        }
    }
}
