<div id="titlediv" class="wpgp-editor-header-container" data-brk-container="description">
    <div class="wpgp-editor-header-row">
        <div id="titlewrap" class="wpgp-editor-description-container">
            <label id="title-prompt-text"
                   for="title"
                    {{#if editor.description}} class="screen-reader-text"{{/if}}>
                {{i18n "editor.description"}}
            </label>
            <input type="text" value="{{{editor.description}}}"
                   data-brk-oninput="oninput"
                   name="description" size="30"
                   id="title" spellcheck="true"
                   autocomplete="off" />
        </div>
        <div class="wpgp-editor-options-button-container" data-brk-onclick="onclick">
            <div tabindex="0" class="wpgp-editor-options-button dashicons-before dashicons-admin-settings"><br /></div>
        </div>
    </div>
</div>
