<div class="table" data-brk-container="settingsJobs">
    <h3 class="title">Background Jobs</h3>

    <table class="widefat striped">
        <thead>
        <tr>
            <th>Job Name</th>
            <th>Job Description</th>
            <th>Job Status</th>
            <th>Job Runs</th>
            <th>Dispatch Job</th>
        </tr>
        </thead>
        <tfoot>
        <tr>
            <th>Job Name</th>
            <th>Job Description</th>
            <th>Job Status</th>
            <th>Job Runs</th>
            <th>Dispatch Job</th>
        </tr>
        </tfoot>
        <tbody>
        {{#each jobs}}
            {{> components/jobs/row}}
        {{/each}}
        </tbody>
    </table>
</div>
