<div data-brk-container="editor" class="wpgp-editor">
    <div class="wpgp-editor-row">
        {{> editor/description/index}}
    </div>

    <div class="wpgp-editor-row">
        {{> editor/controls/index}}
    </div>

    {{#each repo.blobs as |blob|}}
        <div class="wpgp-editor-row">
            {{> editor/blob/index blob=blob}}
        </div>
    {{/each}}
</div>
