<div data-brk-container="editor" class="wpgp-editor">
    <div class="wpgp-editor-header clearfix">
        <div class="wpgp-header-row clearfix">
            {{> editor/description/index}}
        </div>
    </div>
</div>
