<div data-brk-container="editor" class="wpgp-editor">
    <div class="wpgp-editor-row">
        {{> editor/description/index}}
    </div>

    <div class="wpgp-editor-row">
        {{> editor/controls/index}}
    </div>
</div>
