.container {
    width: 100%;
}

.group {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.or {
    font-weight: bold;
}

.header {
    text-align: center;
}
