#wpbody .editor.page {
    box-sizing: border-box;
    overflow: auto;

    & > pre {
        &.code-toolbar .toolbar {
            white-space: initial;
            opacity: 1;
            font-size: 16px;

            .toolbar-item {
                line-height: 1em;

                button {
                    cursor: pointer;
                }

                select {
                    height: initial;
                    color: #bbb;
                    font-size: .8em;
                    padding: 0 .5em;
                    background: #f5f2f0;
                    background: rgba(224, 224, 224, 0.2);
                    box-shadow: 0 2px 0 0 rgba(0, 0, 0, 0.2);
                    border-radius: .5em;
                    border: none;

                    &:hover {
                        color: inherit;
                        text-decoration: none;
                    }
                }
            }
        }

        & > code {
            font-size: 16px;
            padding: 0;
            outline: none;
            display: initial;
        }
    }
}
