<div class="editor page" data-brk-container="instance" data-brk-key="{{instance.key}}">
    <pre spellcheck="false"
            class="language-{{instance.language}}"
            data-brk-onclick="onClick"
            data-brk-onfocus="onFocus"
            data-brk-oninput="onInput"
            data-brk-onkeydown="onKeydown"
            data-brk-onkeyup="onKeyup"
            data-brk-onkeypress="onKeypress"
            data-brk-oncut="onCut"
            data-brk-onpaste="onPaste"
            contenteditable>{{instance.code}}</pre>
</div>
