.editor.page {
    box-sizing: border-box;
    overflow: auto;
    tab-size: 4;
    word-wrap: normal;
    text-shadow: 0 1px white;
}

.editor.page > pre > code {
    padding: 0;
    outline: none;
}
