<section class="editor page" data-brk-container="blobEditor">
    <pre spellcheck="false"
            class="language-{{blob.language.prism_slug}}"
            data-brk-onclick="onClick"
            data-brk-onfocus="onFocus"
            data-brk-oninput="onInput"
            data-brk-onkeydown="onKeydown"
            data-brk-onkeyup="onKeyup"
            data-brk-onkeypress="onKeypress"
            data-brk-oncut="onCut"
            data-brk-onpaste="onPaste"
            contenteditable>{{blob.code}}</pre>
</section>
