<section class="editor page" data-brk-container="blobEditor">
    <div class="line-highlight"></div>
    <pre spellcheck="false"
            class="language-css"
            contenteditable>{{blob.code}}</pre>
</section>
