<div data-brk-container="revisions" class="wpgp-revisions">
    <div class="wpgp-revisions-row">
        <a href="{{link "wpgp_route" "editor"}}" type="button"
                class="dashicons-before wpgp-button wpgp-button-add">
            Return to Editor
        </a>
    </div>
    <pre><code>{{json revisions}}</code></pre>
</div>
