<div class="editor page" data-brk-container="instance" data-brk-key="{{instance.key}}" data-brk-blackbox="instance">
    <div class="code-toolbar">
        {{> components/editor/instance/toolbar}}
        <pre spellcheck="false"
             class="language-{{prism_slug instance.language}}"><code
            data-brk-onblur="onBlur"
            data-brk-onclick="onClick"
            data-brk-onfocus="onFocus"
            data-brk-oninput="onInput"
            data-brk-onkeyup="onKeyup"
            data-brk-onkeydown="onKeydown"
            contenteditable="true">{{ensure_return instance.code}}</code></pre>
    </div>
</div>
