#wpbody .editor.page {
    box-sizing: border-box;
    overflow: auto;

    & > div {
        &.code-toolbar .toolbar {
            white-space: initial;
            opacity: 1;
            font-size: 16px;
            font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;

            .toolbar-item {
                line-height: 1em;

                button {
                    cursor: pointer;
                }

                select {
                    height: initial;
                    color: #BBB;
                    font-size: 0.8em;
                    padding: 0 0.5em;
                    background: #F5F2F0;
                    background: rgba(224, 224, 224, 0.2);
                    box-shadow: 0 2px 0 0 rgba(0, 0, 0, 0.2);
                    border-radius: 0.5em;
                    border: none;

                    &:hover {
                        text-decoration: none;
                    }
                }
            }
        }

        pre > code {
            font-size: 16px;
            padding: 0;
            outline: none;
            display: initial;
        }
    }
}
