<div data-brk-container="editor" class="wpgp-editor">
    <div data-brk-container="description"
         data-brk-blackbox="description"
         class="wpgp-editor-row">
    </div>

    <div data-brk-container="controls"
         data-brk-blackbox="controls"
         class="wpgp-editor-row">
    </div>

    {{#each editor.instances as |instance|}}
        <div class="wpgp-editor-row"
             data-brk-container="instance"
             data-brk-key="{{instance.key}}"
             data-brk-blackbox="instance">
        </div>
    {{/each}}
</div>
