<div data-brk-container="editor" class="wpgp-editor">
    <div class="wpgp-editor-row">
        {{> components/editor/description/index}}
    </div>

    <div class="wpgp-editor-row">
        {{> components/editor/controls/index}}
    </div>

    {{#each editor.instances as |instance|}}
        <div class="wpgp-editor-row">
            {{> components/editor/instance/index instance=instance}}
        </div>
    {{/each}}
</div>
