<div class="table" data-brk-container="settingsAccounts">
    <h3 class="title" >Sync Account Settings</h3>
    <table class="form-table">
        <tbody>
        <tr>
            <th>
                <label for="wpgp-token">Gist Token</label>
            </th>
            <td>
                <input type="text" name="wpgp-token"
                       id="wpgp-token" class="regular-text"
                       data-brk-oninput="onGistTokenChange"
                       value="{{gist.token}}" />
            </td>
        </tr>
        </tbody>
    </table>
</div>
