<div data-brk-container="settingsHeader">
    <h1>Gistpen Settings</h1>
    <h2 class="nav-tab-wrapper">
        <a href="#highlighting" class="nav-tab{{#compare route "highlighting"}} nav-tab-active{{/compare}}">Highlighting</a>
        <a href="#accounts" class="nav-tab">Accounts</a>
        <a href="#import" class="nav-tab">Import</a>
        <a href="#export" class="nav-tab">Export</a>
    </h2>
</div>
