<div class="table" data-brk-container="settingsHighlighting">
    <h3 class="title">Syntax Highlighting Settings</h3>
    <table class="form-table">
        <tbody>
        <tr>
            <th>
                <label for="wpgp-theme">Choose Theme</label>
            </th>
            <td>
                <select name="wpgp-theme" id="wpgp-theme" data-brk-onchange="onThemeChange">
                    {{#each const.themes}}
                        <option value="{{@key}}" {{#compare prism.theme @key}}selected{{/compare}}>
                            {{this}}
                        </option>
                    {{/each}}
                </select>
            </td>
        </tr>
        <tr>
            <th>
                <label for="wpgp-line-numbers">Enable Line Numbers</label>
            </th>
            <td>
                <input type="checkbox" name="wpgp-line-numbers"
                        id="wpgp-line-numbers"
                        data-brk-onchange="onLineNumbersChange"
                        {{#if prism.line-numbers}}checked{{/if}}/>
            </td>
        </tr>
        <tr>
            <th>
                <label for="wpgp-show-invisibles">Enable Show Invisibles</label>
            </th>
            <td>
                <input type="checkbox" name="wpgp-show-invisibles"
                        id="wpgp-show-invisibles"
                        data-brk-onchange="onShowInvisiblesChange"
                        {{#if prism.show-invisibles}}checked{{/if}}/>
            </td>
        </tr>
        </tbody>
    </table>
    {{> component/repo/index repo=const.repo}}
</div>
