<div class="wrap" data-brk-container="settings">
    {{> settings/header}}

    {{#compare route "bootstrap"}}
        Loading...
    {{/compare}}

    {{#compare route "highlighting"}}
        {{> settings/highlighting}}
    {{/compare}}

    {{#compare route "accounts"}}
        {{> settings/accounts}}
    {{/compare}}
</div>
