<div data-brk-container="edit">
    {{#compare route "editor"}}
        {{> component/editor/index}}
    {{/compare}}

    {{#compare route "commits"}}
        {{> component/commits/index}}
    {{/compare}}
</div>
