<div data-brk-container="edit">
    {{#compare route "editor"}}
        {{> component/editor/index}}
    {{/compare}}

    {{#compare route "revisions"}}
        {{> component/revisions/index}}
    {{/compare}}
</div>
