@import "../../node_modules/prismjs/plugins/line-numbers/prism-line-numbers";
@import "../../node_modules/prismjs/plugins/line-highlight/prism-line-highlight";
@import "../../node_modules/prismjs/plugins/show-invisibles/prism-show-invisibles";
@import "../../node_modules/prismjs/plugins/show-language/prism-show-language";

.clearfix {
	content: "";
	display: table;
	clear: both;
}

pre.gistpen {
	width: 100%;
	max-width: 500px;
	word-wrap: normal;

  &.line-numbers {
    padding-left: 3.8em;
  }
}
