<div class="wpgp-search-container" data-brk-container="search">
    <div id="wpgp-insert-existing">
        <p>Search for a Gistpen</p>
        <div class="gistpen-search-wrap">
            <label class="gistpen-search-label">
                <label for="gistpen-search-field" class="search-label" style="display: none;">Search Gistpens</label>
                <input type="search" id="gistpen-search-field" class="search-field" placeholder="Search Gistpens" data-wpgp-search-input/>
                <button class="button button-primary" role="button" data-wpgp-search-btn>Search</button>
                <span class="spinner"></span>
            </label>
        </div>
        <div id="select-gistpen" class="query-results">
            <div class="query-notice"><em>Recent Gistpens</em></div>
            <ul class="gistpen-list" data-wpgp-search-results></ul>
        </div>
    </div>
</div>
