<div class="wpgp-search-container" data-brk-container="search">
    <div class="wpgp-search-form">
        <label for="wpgp-search-field" class="wpgp-search-label">Search Gistpens</label>
        <input type="search" id="gistpen-search-field" class="wpgp-search-field" placeholder="Search Gistpens" data-wpgp-search-input/>
        <button class="button button-primary" role="button" data-wpgp-search-btn>Search</button>
    </div>

    {{#if search.recent}}
        {{#each search.recent}}
            {{{title}}}
        {{/each}}
    {{else if search.results}}
        {{#each search.results}}
            {{{title}}}
        {{/each}}
    {{else}}
        Loading Recent Gistpens...
    {{/if}}
</div>
