.wpgp-search-container {
    .wpgp-search-form {
        margin-top: 5px;
        margin-bottom: 9px;
    }

    .wpgp-search-label {
        text-align: right;
        padding-right: 5px;
        vertical-align: text-top;
    }
}
