{{#> "component/editor/instance/button"}}<select data-brk-onchange="onLanguage">
    {{#each editor.languages}}
        <option value="{{this}}" {{#compare instance.language this}}selected{{/compare}}>{{@key}}</option>
    {{/each}}
</select>{{/"component/editor/instance/button"}}
