.search {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.grow {
    flex-grow: 1;
}

.notice {
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 5px;

    :global(.components-notice__content) {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    span {
        margin-top: 5px;
    }
}
